@charset "UTF-8";
/* CSS Document */
	body {
		margin:0;
		padding:0;
		background-color:cornflowerblue;
		font-family: "Roboto", sans-serif;
	}
	.logo {
		display: block;
		height:35px;
		margin: 30px auto;
	}
	.center {
		margin-left: auto;
	}
	.form-field {
		box-sizing: border-box;
		margin: 20px auto;
		width: 400px;
		background-color:#fefefe;
		padding: 0 40px;
		border-radius: 4px;
	}
	h1 {
		text-align: center;  
	}
	.analog-sea {
		padding: 30px 0;
		font-size:1.2em;
	}
	fieldset {
		border:none;
		padding: 0;
		margin: 0;
	}
	label {
		display: block;
		font-weight: 700;
		margin: 0 0 .8em 0;
	}
	input {
		box-sizing: border-box;
		width: 320px;
		padding: 15px;
		border: 2px solid #aaa;
		border-radius: 4px;
		height:3em;
		font-size:16px;
		margin-bottom:.8em;
		background-color: #eee;
	}

	.signup {
		box-sizing: border-box;
		width:320px;
		padding: 15px;
		margin-top: 5px;
		background-color: darkgreen;
		color:#eee;
		font-size: 1.1em;
		font-weight: 700;
	}
	.forgot {
		font-size: .8em;
		text-align: center;
	}
	.login {
		color:#eee;
		text-align: center;
		font-weight:700;
	}